src/svg/
src/bin/
src/output/
views/functions
src/test.js
src/qrCodeGenerator.js
src/chart - old version.js
public
node_modules
src/profiles/Test.js
views/profiles/Test.eta
views/measure.js
views/header.eta
views/footer.eta