.env
temp
src/svg/
src/bin/
src/**/output/
src/json
node_modules
src/profiles/empty.js
src/http.js
views/profiles/empty.hbs
views/profiles/measure.js
src/cli-commands/test.js

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions