{
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "printWidth": 280
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
