@font-face {
  font-family: Dana-fanum;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Dana/eot/dana-fanum-regular.eot"),
    url("../../fonts/Dana/woff/dana-fanum-regular.woff") format("woff"),
    url("../../fonts/Dana/woff2/dana-fanum-regular.woff2") format("woff2");
}
@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Dana/eot/dana-regular.eot"),
    url("../../fonts/Dana/woff/dana-regular.woff") format("woff"),
    url("../../fonts/Dana/woff2/dana-regular.woff2") format("woff2");
}